name: "CI Docker Build"
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action
        uses: actions/checkout@v3
      - name: login Docker
        uses: docker/login-action@v3
        with:
         password: ${{ secrets.DOCKER_PASSWORD }}
         username: ${{ secrets.DOCKER_USERNAME }}
      - name: build docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ci-test .
      - name: docker push image
        run: docker push ${{ secrets.DOCKER_USERNAME}}/ci-test
